# R and RStudio files
.Rproj.user
.Rhistory
.RData
.Ruserdata

# macOS system files
.DS_Store

# Quarto files
/.quarto/
_extensions/
_site/
index_files/

# Raw data
data_raw/

# Personal project files
Sunan_CV.Rproj
.gitattributes
theme.scss
styles.css
image.jpg
_quarto.yml
